# Packages installed separately in the notebook:
# torch, torchvision, torchaudio
# whisperx, faster-whisper, ctranslate2
# mediapipe, insightface, onnxruntime-gpu
# transformers, accelerate

numpy<2.0

g4f
yt-dlp
pytubefix
gdown
ffmpeg-python

google-genai
google-generativeai

gradio
opencv-python
psutil
fastapi
uvicorn

deep-translator
tqdm
pandas

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib