# Outras dependencias essenciais
numpy<2.1.0
g4f[all]
yt-dlp
gdown
ffmpeg-python
whisperx
mediapipe
google-genai
insightface
gradio
opencv-python
psutil
fastapi
uvicorn
deep-translator
tqdm
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib