# Installed separately in ViralCutter.ipynb:
# torch, torchvision, torchaudio
# whisperx, faster-whisper, ctranslate2
# transformers, tokenizers, accelerate
# mediapipe, insightface, onnxruntime-gpu

numpy==1.26.4
pandas<3

g4f
yt-dlp
pytubefix
gdown
ffmpeg-python

google-genai
google-generativeai

gradio
opencv-python==4.11.0.86
psutil
fastapi
uvicorn

deep-translator
tqdm

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib